/* Add CSS Styling */
p{
    background-color: lightpink;
    font-family: Verdana;
}
#second {
    font-size: 36px;
    color: blue;
}
#third {
    font-size: 24px;
}
#fourth {
   font-weight: bold;
   background-color: lightgreen;
   font-size: 24px;
}